/**

  Sections are used for separating content-areas/blocks down a page
  MIXIN CAN BE USED ALSO INSIDE COMPONENTS.

  a section has 100% width allowing wall to wall background colors/images or video
  the wrapper sets the content width
  the box is optional (applies padding)

  a typical html structure would thus be:

  <div class="o-section">
        <div class="o-wrapper">
          <div class="o-box">
            Lorem ipsum dolor sit amet
          </div>
        </div>
    </div>

 */


@mixin mix-section-gap($modif: normal){

  $size: 2rem;

  @if $modif == large {
    $size: 4rem;
  } @else if $modif == huge {
    $size: 6rem;
  } @else if $modif == flush {
    $size: 0;
  }

  width: 100%;
  margin-top: $size;
  margin-bottom: $size;

}