<div class="o-ratio  o-ratio--16:9">
    <div class="o-ratio__content">
        <!--<img class="o-ratio__content" alt="Placeholder Image and Some Alt Text" src="https://placehold.it/750x350" title="A title element for this placeholder image."/>-->
        <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/MNCzSfv4hX8?rel=0&amp;showinfo=0&amp;start=30" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen="" kwframeid="1"></iframe>-->
        <video loop="" muted="" playsinline="" autoplay="" src="/public/video/Blurred Crowd of People Walking.mp4"
               type="video/mp4"></video>
    </div>
</div>
